body {
    background: orange;
}
li {
    border: 2px solid yellow;
}
    /* # tells it we're working with an ID */
#mya {
    color: red;
}

    /* . tells css that you're using a class */
.busy {
    color: white;
}
